/* Variables */
:root {
  --primary: rgb(11, 11, 12);
  --secondary: rgb(34, 34, 39);

  --color-primary: rgb(21, 146, 27);
  --color-secondary: rgb(27, 187, 35);
  --scrollbar-bg: rgba(0, 0, 0, 0.6);
}

html,
body,
#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: var(--primary)
}

/* Scrollbar: for Chromium Based browsers */
/* Scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

/* Scrollbar: track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.6);
}

/* Scrollbar: handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

/* Scrollbar: for Firefox */
* {
  scrollbar-width: 16px;
  scrollbar-color: var(--color-primary) var(--scrollbar-bg);
}
